<h1>Pages#post</h1>
<h2><%= @saludo%></h2>
<p>Find me in app/views/post/index.html.erb</p>


<ul>

<h1><%= @var %></h1>

    <% @posts.each do |post| %>
        <li><%= post.title %> - <%= post.body %> - Creado por: 
        
        <% if !post.user.nil? %> 
            <%= post.user.email %> 
        <% else %>
            No existe usuario asociado.    
        <% end %>
        </li>

    <% end %>

</ul>

